
<footer>
  <div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="contact">
      <p><i class="fa fa-phone" aria-hidden="true"></i> +44 (0)123 456 789</p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@landingpage.com</p>
      </div>
    </div>
    <div class="col-6" style="text-align: right;">
      <h5>Heading</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi a unde iste harum quis veritatis laudantium tempora, error veniam, incidunt?</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">&copy; 2020 Brand - <a href="#">Facebook</a> - <a href="#">Twitter</a></div>
  </div>
</div>
  </footer>