<div class="container">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
  <hr class="mt-2 mb-5">
  <div class="row">

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail">
        <img src="https://via.placeholder.com/250" alt="" class="img-thumbnail">
        <div class="caption">
          <h3>Thumbnail</h3>
          <p>aasddsads</p>
          <p class="text-right"><a href="#" class="btn btn-primary" role="button">View Detail</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
